<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel = "stylesheet" type = "text/css" th:href = "@{/styles/style.css}">
<link rel = "stylesheet" type = "text/css" th:href = "@{/styles/pure-min.css}">
<link rel = "stylesheet" type = "text/css" th:href = "@{/styles/grids-responsive-min.css}">
<link rel="icon" type="image/png" th:href="@{/img/favicon.png}">
<script type="text/javascript" th:src="@{/js/todo.js}"></script>