<!DOCTYPE html>
<html>
<head>
    <title>To Do</title>
    <th:block th:include="head.html"></th:block>
</head>
<body>
<th:block th:include="left_panel.html"></th:block>
<div class="pure-u-1 pure-u-sm-16-24 pure-u-md-18-24 pure-u-xl-20-24" id="content-wrapper">
    <th:block th:include="header.html"></th:block>
    <div class="pure-u-1-1" id="content-block">
        <div class="content-block-header" id="header">
            <h1 style="text-align: center;">Welcome to lylan To Do manager.</h1>
        </div>
        <hr>
        <div class="login-form">
            <span class="login-error-box pure-u-4-5 pure-u-md-2-5 pure-u-xl-1-5" th:if="${param.error != null}">Username or password incorrect</span>
            <span class="login-error-box pure-u-4-5 pure-u-md-2-5 pure-u-xl-1-5" th:if="${registerException != null}" th:text="${registerException}"></span>
            <form method="post">
                <input class="pure-u-4-5 pure-u-md-2-5 pure-u-xl-1-5" name="username" type="text" id="username-login" placeholder="Your username..">
                <br>
                <input class="pure-u-4-5 pure-u-md-2-5 pure-u-xl-1-5" name="password" type="password" id="password-login" placeholder="Your password..">
                <br>
                <button class="pure-u-10-24 pure-u-md-7-24 pure-u-xl-3-24" type="submit" name="action" th:formaction="@{/login}">Sign In</button>
                <button class="pure-u-10-24 pure-u-md-7-24 pure-u-xl-3-24" type="submit" name="action" th:formaction="@{/registration}">Create account</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>